// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.lat{
	clear:both;
	float:left;
	display:block;
	position:relative;
}

div.tile {
	width:40px;
	height:40px;
	background: blue;
	border: 1px solid black;
	float:left;
}


div#map{
	clear:both;
	float:left;
	display:inline-block;
	position:relative;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	margin-left:100px;
	margin-top:100px;

}

div.plains{
	background:green;
}