<span class="lng">
	<div class="tile">W</div>
	<div class="tile"></div>
</span>
<!-- <span class="lng, odd">
	<div class="tile"></div>
	<div class="tile"></div>
</span> -->
<span class="lng">
	<div class="tile"></div>
	<div class="tile"></div>
</span>